<link rel="stylesheet" href="/css/auth.css">

<form
    action="/adminUser/signup"
    method="POST"
    enctype="multipart/form-data">

    <div class="row">

        <div class="col-md-6 mb-3">
            <label class="form-label">Full Name</label>
            <input
                type="text"
                class="form-control form-control-lg"
                name="name"
                placeholder="Enter your full name"
                >
                <% if(typeof errors!=="undefined" && errors.name){ %>
    <div class="invalid-feedback d-block">
        <%= errors.name.msg %>
    </div>
<%}%>

        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Username</label>
            <input
                type="text"
                class="form-control form-control-lg"
                name="username"
                placeholder="Choose a username"
                >
        </div>

    </div>

    <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input
            type="email"
            class="form-control form-control-lg"
            name="email"
            placeholder="example@email.com"
            >
            <% if(typeof errors!=="undefined" && errors.email){ %>
    <div class="invalid-feedback d-block">
        <%= errors.email.msg %>
    </div>
<%}%>

    </div>

    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input
            type="tel"
            class="form-control form-control-lg"
            name="phoneno"
            placeholder="Enter phone number"
            >
            <% if(typeof errors!=="undefined" && errors.phoneno){ %>
    <div class="invalid-feedback d-block">
        <%= errors.phoneno.msg %>
    </div>
<%}%>

    </div>

    <div class="row">

        <div class="col-md-6 mb-3">
            <label class="form-label">Password</label>
            <input
                type="password"
                class="form-control form-control-lg"
                name="password"
                placeholder="Enter password"
                >
                <% if(typeof errors!=="undefined" && errors.password){ %>
    <div class="invalid-feedback d-block">
        <%= errors.password.msg %>
    </div>
<%}%>

        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Confirm Password</label>
            <input
                type="password"
                class="form-control form-control-lg"
                name="confirmPass"
                placeholder="Confirm password"
                >
                <% if(typeof errors!=="undefined" && errors.confirmPass){ %>
    <div class="invalid-feedback d-block">
        <%= errors.confirmPass.msg %>
    </div>
<%}%>

        </div>

    </div>

    <div class="mb-4">
        <label class="form-label">Profile Image</label>
        <input
            type="file"
            class="form-control form-control-lg"
            name="image"
            accept="image/*">
            
    </div>

    <button
        type="submit"
        class="btn btn-primary btn-lg w-100">
        Create Admin Account
    </button>

</form>

<div class="text-center mt-4">
    Already have an account?
    <a href="/adminUser/signin" class="text-decoration-none">
        Login
    </a>
</div>